<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>doShoppingList.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iShoppingList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>378E974C1F23B2F900C526D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>378E97631F23B2F900C526D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>378E976E1F23B2F900C526D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3F640401F915A0E005166A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
